@import vendor/normalize
@import vendor/normalize-opentype
@import vendor/font-awesome
@import type
@import editor
@import index

#drawer
  display: none

header
  display: none

#content-container-page
  background-color: none
  color: black

  a:link, a:visited, a:active
    color: black
    border-bottom: 1px dashed #ddd

a
  &[href^='http://'],
  &[href^='https://']
    &:after
      content: ' (' attr(href) ')'
      font-size: 80%


h1, h2, h3, h4, h5, h6
  page-break-after: avoid
  page-break-inside: avoid

h1 + p, h2 + p, h3 + p
  page-break-before: avoid

p
  orphans: 3
  widows: 3