#content-container-page
  text-rendering: optimizeLegibility
  line-height: 1.2em

  a:link
    color: #283593
    text-decoration: none

  h1, h2, h3, h4, h5, h6, p
    margin-top: 0
    margin-bottom: 1rem

  h1, h2, h3, h4, h5, h6
    font-family: "Cabin"
    font-weight: normal
    margin-top: 1.5rem

  code, pre, text-area
    font-family: 'Consolas', 'Menlo', monospaced

  dt
    font-weight: bold