#content-container-page
  text-rendering: optimizeLegibility
  font: 12pt/1.8em 'PT Serif', Georgia, serif
  color: #333
  background-color: #fefefe

  a:link
    color: #283593
    text-decoration: none

  h1, h2, h3, h4, h5, h6
    margin-top: 1.2em
    margin-bottom: 0.5rem

  h1:first-of-type
    margin-top: 1rem

  p
    margin-top: 0
    margin-bottom: 0.8rem

  p
    hyphens: auto
    text-justify: justify
    //Switch off old-style numerals (onum) because I don't really like them
    font-feature-settings: "kern" 1, "liga" 1, "calt" 1, "pnum" 1, "tnum" 0, "onum" 0, "lnum" 0, "dlig" 0

  h1, h2, h3, h4, h5, h6
    font-family: "Alegreya Sans"
    font-weight: bold

  //Try to fix offsets to headers so that the ToC work
  h1:not(:first-of-type)::before, h2::before, h3::before, h4::before 
    content: ""
    display: block
    height: 68px /* fixed header height*/
    margin-top: -68px


  code, pre, textarea
    font-family: 'PT Mono', 'Consolas', 'Menlo', monospace

  code
    overflow: scroll

  dt
    font-weight: bold

  dd
    margin-left: 1em

  ul
    padding-left: 2em